streamlit==1.33.0
transformers==4.38.2
sentencepiece==0.2.0
torch==2.2.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.1 --index-url https://download.pytorch.org/whl/cpu
tensorflow-cpu==2.16.1
tf-keras==2.16.0
protobuf==3.20.3
pandas
numpy
plotly==5.19.0
networkx
